/* Center the canvas on the page */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #b3e8dc;
}
#game {
  position: relative; /* ← this is the key! */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#scoreBoard {
  position: absolute; /* positioned relative to game-container */
  top: 120px; /* sits above the canvas */
  left: 0;
  background-color: #a4b386ff;
  padding: 8px;
  opacity: 60%;
  font-family: "Metamorphous", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}
